<page-wrapper>
<div class="container">
    <div class="card">
      <h2 class="title">🔐 Login</h2>
      <input [(ngModel)]="email" class="input" placeholder="Email" />
      <input [(ngModel)]="password" type="password" class="input" placeholder="Password" />
      <button (click)="login()" class="button">Login</button>
      <div class="forgot-password-wrapper">
        <button class="forgot-password" (click)="forgotPassword()">🔐 Forgot Password?</button>
      </div>
      
    </div>
  </div>
</page-wrapper>